.logo
{
				text-align: center;
}
.logoo{
  
  text-align: right;
  
}
.text{
  width: 400px;
  height: 400px;;
  color: black;
}
.input{
  margin-left: 110px;
}
.button
{
  margin-left: 50px;
}
.avart{
  
background-color: lightgrey ;

}
.h1{
  text-align: center;
}