
span{
	color: black;
}
.cena
{
	display: flex;
	padding: 25px;
    border: 15px;
	flex-wrap: wrap;
}
h1{

	flex-wrap: wrap;
}
.ir{
	width: 400px;
	height: 400px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.text{
	margin-left: 40px;
}
.gin
{
	margin-left: 150px;
}